<div class="container">
    <div class="row">
        <div class="col">
            @section Scripts{
                @{
                    <partial name="_AgencyAgentSideNav" />
                }
            }
        </div>
    </div>
</div>