@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="SLFBUser" asp-action="Index" class="btn btn-secnodary">SLFB User</a>
    <a asp-controller="AgencyUser" asp-action="Index" class="btn btn-secnodary">Agency User</a>
    <a asp-controller="EmbassyUser" asp-action="Index" class="btn btn-secnodary">Embassy User</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
